{%  extends "layout.html" %}
{% block body %}
        <div class="section page">

        <div class="wrapper">

            <h1>Авторизация</h1>


            <p>Зарегистрируйся, чтобы совершить покупку</p>

            <form method="post" action="{{ url_for("send") }}">

                <table>
                    <tr>
                        <th>
                            <label for="name">Name</label>
                        </th>
                        <td>
                            <input type="text" name="name" id="name">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="email">Password</label>
                        </th>
                        <td>
                            <input type="text" name="email" id="email">
                        </td>
                    </tr>
                </table>
                <button type="submit" class="button_user">Зарегистрироваться</button>

            </form>

        </div>

    </div>
{% endblock %}







#регистрация
<!-- {% block main%}
    <div class="logreg">
        <h1>Регистрация</h1>
        <div>
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        </div>
        <form action="" method="POST">
            <div>
                <label for="username">Пользователь:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="button_user">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %} -->

