<!DOCTYPE html>
<html>
<head>
	<title>{{ page_title }}</title>
	<link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,700" type="text/css">
</head>
<body>

	<div class="header">

		<div class="wrapper">

			<h1 class="branding-title"><a href="{{ url_for("index") }}">Мебель</a></h1>

			<ul class="nav">
				<li class="furniture1 {% if section == "furniture1" %}on{% endif %}"><a href="{{ url_for("furniture1") }}">Мебель</a></li>
				<li class="contact {% if section == "contact" %}on{% endif %}"><a href="{{ url_for("contact") }}">Регистрация</a></li>
				<li class="cart"><a href="/cart">Корзина</a></li>
				<li class="login" ><a href="/login">Войти</a></li>
				<li class="logout" ><a href="">Выйти</a></li>
			</ul>

		</div>
	</div>
	<div id="content">
		{% block body %}{% endblock %}
	</div>
	<div class="footer">
		<div class="wrapper">
			<p>&copy;{{ current_year }} Каменева Наталья ФБИ-13</p>
		</div>
	</div>

	{% for message in get_flashed_messages() %}
		<script>
			alert("{{ message }}");
		</script>
	{% endfor %}

</body>
</html>